* {
	box-sizing: border-box;
}

div {
	position: relative;
	padding: 20px 10px 10px 10px;
}

p.title {
	position: absolute;
	text-align: center;
	top: 0px;
	right: 0px;
	width: 100px;
	margin: 0px 0px 0px 0px;
	border: 1px solid black;
	border-top: 0px;
	border-right: 0px;
}

div.content {
	background-color: grey;
	border: 1px solid black;
	padding: 10px 10px 10px 10px;
}

#p1 {
	background-color: pink;
}

#p2 {
	background-color: maroon;
}

#p3 {
	background-color: cyan;
}

@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		opacity: 0.6
	}

	.col-lg-4 {
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float: left;
		opacity: 0.6;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		opacity: .6;
		width: 100%
	}

}